body {
	background-color: #ead5f3;
	text-align: center;
	padding: 50px;
	font-family: Georgia;
}

h1 {
	text-decoration: underline;
}
.intro {
	font-size: 30px;

}

.navi {
	font-size: 20px;
}